<div class="container">
  <form [formGroup]="Transaction.searchForm" (ngSubmit)="onSubmit()">
    <div class="row mt-2">
      <div class="col-12">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="bi fs-sm bi-search"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Search"
            formControlName="search"
          />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="type == TransactionTypes.ACCOUNT">
      <div class="col-12 col-md-6">
        <app-multi-select
          [label]="'Accounts'"
          [placeholder]="'Search accounts...'"
          [searchOptions]="accounts"
          [hasMore]="hasMoreAccount"
          [field]="'name'"
          [isLoading]="isDropdownLoading"
          (searchChanged)="onSearchChangedAccount($event)"
          (selectedItemsChange)="onSelectionChangeAccount($event)"
        >
        </app-multi-select>
      </div>
      <div class="col-12 col-md-6">
        <app-multi-select
          [label]="'Categories'"
          [placeholder]="'Search categories...'"
          [searchOptions]="categories"
          [hasMore]="hasMoreCategory"
          [field]="'name'"
          [isLoading]="isDropdownLoading"
          (searchChanged)="onSearchChangedCategory($event)"
          (selectedItemsChange)="onSelectionChangeCategory($event)"
        >
        </app-multi-select>
      </div>
    </div>
    <div class="row" *ngIf="type == TransactionTypes.BUDGET">
      <div class="col-12 col-md-6">
        <app-multi-select
          [label]="'Budgets'"
          [placeholder]="'Search budgets...'"
          [searchOptions]="budgets"
          [hasMore]="hasMoreBudget"
          [field]="'name'"
          [isLoading]="isDropdownLoading"
          (searchChanged)="onSearchChangedBudget($event)"
          (selectedItemsChange)="onSelectionChangeBudget($event)"
        >
        </app-multi-select>
      </div>
      <div class="col-12 col-md-6">
        <app-multi-select
          [label]="'Personal Categories'"
          [placeholder]="'Search personal categories...'"
          [searchOptions]="personalCategories"
          [hasMore]="hasMorePersonalCategory"
          [field]="'name'"
          [isLoading]="isDropdownLoading"
          [disabledIf]="Transaction.searchForm.get('budgetIds').value == null"
          (searchChanged)="onSearchChangedPersonalCategory($event)"
          (selectedItemsChange)="onSelectionChangePersonalCategory($event)"
        >
        </app-multi-select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <app-input
          [inputType]="InputTypes.Date"
          inputId="date"
          [formGroup]="Transaction.searchForm"
          [controlName]="'dateFrom'"
          [label]="'Date From'"
        ></app-input>
      </div>
      <div class="col-12 col-md-6">
        <app-input
          [inputType]="InputTypes.Date"
          inputId="date"
          [formGroup]="Transaction.searchForm"
          [controlName]="'dateTo'"
          [label]="'Date To'"
        ></app-input>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-sm mt-2 btn-dark fw-bold">Search</button>
      </div>
    </div>
  </form>
</div>
