.category-box {
  transition: all 0.2s ease-in-out;
}

.category-box.selected {
  background-color: var(--default-text-color);
  color: var(--default-background);
  border-color: var(--default-text-color);
}
.category-box.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none; // prevents clicks
}
