<div class="container">
    <div class="row mt-2">
        <div class="col-12 d-flex align-items-center">
            <span class="fs-5">Add new transaction</span>
        </div>
    </div>
    <form [formGroup]="Transaction.form" (ngSubmit)="onSubmit()">
        <app-solo-select
            [label]="'Account'"
            [placeholder]="'Search accounts...'"
            [searchOptions]="accounts"
            [hasSearchIcon]="true"
            [formGroup]="Transaction.form"
            [errorName]="'Account'"
            [controlName]="'accountId'"
            [hasMore]="hasMoreAccount"
            [selectedItem]="Transaction.form.get('account')?.value"
            [field]="'name'"
            [isLoading]="isDropdownLoading"
            (searchChanged)="onSearchChangedAccount($event)"
            (selectedItemChange)="onSelectionChangeAccount($event)"
            [addNoResult]="false"
            [subFields]="['balance']"
            [subFieldLabels]="['Balance']"
        >
        </app-solo-select>
        <app-solo-select
            [label]="'Category'"
            [placeholder]="'Search categories...'"
            [searchOptions]="categories"
            [hasSearchIcon]="true"
            [formGroup]="Transaction.form"
            [errorName]="'Category'"
            [controlName]="'categoryId'"
            [hasMore]="hasMoreCategory"
            [selectedItem]="Transaction.form.get('category')?.value"
            [field]="'name'"
            [isLoading]="isDropdownLoading"
            (searchChanged)="onSearchChangedCategory($event)"
            (selectedItemChange)="onSelectionChangeCategory($event)"
            (addSearchResult)="onAddSearchResultCategory($event)"
        >
        </app-solo-select>
        <app-input
            [inputType]="InputTypes.Number"
            inputId="amount"
            [formGroup]="Transaction.form"
            [controlName]="'amount'"
            [label]="'Amount'"
        ></app-input>
        <app-input
            [inputType]="InputTypes.Date"
            inputId="date"
            [formGroup]="Transaction.form"
            [controlName]="'date'"
            [label]="'Date'"
        ></app-input>
        <div class="form-check form-switch mt-2">
            <input
                class="form-check-input"
                type="checkbox"
                formControlName="inputTime"
            />

            <label class="form-check-label" for="inputTime">
                Input time?
            </label>
        </div>
        <app-input *ngIf="Transaction.form.get('inputTime').value"
            [inputType]="InputTypes.Time"
            inputId="time"
            [formGroup]="Transaction.form"
            [controlName]="'time'"
            [label]="'Time'"
        ></app-input>

        <app-input
            [inputType]="InputTypes.TextArea"
            inputId="note"
            [formGroup]="Transaction.form"
            [controlName]="'note'"
            [label]="'Note'"
        ></app-input>
        <div class="row mt-3 mb-3">
            <div class="col-12 d-flex justify-content-end" >

                <button type="button" (click)="close()" class="btn btn-sm mt-2 btn-secondary me-2">
                    Close
                </button>

                <button type="submit" class="btn btn-sm mt-2 btn-dark fw-bold">
                    Save
                </button>
            </div>
        </div>
    </form>

</div>
