<div class="row">
    <div class="col-md-6 col-12 mb-3">
        <div class="bg-white p-3 rounded shadow-sm h-100">
        <p>
            Create a new account, update your financial information daily,
            and track your expenses
        </p>
        <button class="btn btn-success" (click)="addAccount()">
            <i class="bi bi-plus me-2 text-white"></i>
            <span class="text-white">Add a new account</span>
        </button>
        </div>
    </div>

    <div class="col-md-6 col-12 mb-3">
        <div class="bg-white p-3 rounded shadow-sm h-100">
        </div>
    </div>
    </div>

    <div class="row" *ngIf="accounts.length > 0">
    <div class="col-md-6 col-12 mb-3">
        <div class="bg-white p-3 rounded shadow-sm h-100">
        <span class="fs-3 fw-bold d-block mb-3">Assets</span>
        <div class="row">
            <div
            class="col-12 d-flex justify-content-center mb-3"
            *ngFor="let account of accounts">
            <app-account-card
                [name]="account.name"
                [balance]="account.balance">
            </app-account-card>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-12 mb-3">
        <div class="bg-white p-3 rounded shadow-sm h-100">
        <span class="fs-3 fw-bold d-block mb-3">Liabilities</span>
        <div class="row">
            <div
            class="col-12 d-flex justify-content-center mb-3"
            *ngFor="let account of accounts">
            <app-account-card
                [name]="account.name"
                [balance]="account.balance">
            </app-account-card>
            </div>
        </div>
        </div>
    </div>
</div>
